/****** Object:  Table [dbo].[Students]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[AcademyID] [nvarchar](10) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (1, N'Donald', N'Lewis', N'pytpolly@msn.com', N'1_DOLE')
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (2, N'Edward', N'Peterson', N'hyejason34@example.com', N'2_EDPE')
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (3, N'David', N'Burrows', N'ksufiona46@example.com', N'3_DABU')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[Students] OFF
/****** Object:  Table [dbo].[Courses]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (1, N'Whiteboard seamless synergies', 1)
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (2, N'Harness proactive convergence', 1)
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (3, N'Transform seamless applications', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PasswordSalt] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__A9D105342F10007B] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__C9F2845631EC6D26] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (1, N'Deborahtaf10', N'bvY60EY7nGXYjoRG8RuJxZ5velU=', N'3th6/SrP7ZtqWWGXXrOLnOorxmGsjtILZ51rdw1Q2sM=', N'vdzlucy@example.com', N'Betty', N'Garcia')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (2, N'Susanoho13', N'SnQU0L3UOiBPhwl/p1utY96QQvk=', N'h0HlBd7nlYrUcXNtvmjRUOOyDHGoPOy85fdDVXifCD0=', N'fnkronald@gmail.com', N'Laura', N'Harrison')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (3, N'Sarahbsw3', N'LCYiK7EGg9QNYB1ixFMmb6oHWpo=', N'uEBhmLtwz4ml2nZD37vINhUtUZhKdupMAdBp8R3KCHo=', N'nmrsarah@privacy.net', N'Victoria', N'Johnson')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[StudentsCourses]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsCourses](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_StudentsCourses] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 1)
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 2)
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
/****** Object:  Table [dbo].[Topics]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ActiveFrom] [date] NULL,
	[ActiveTo] [date] NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Topics] ON
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (1, 1, N'Monetize intuitive applications', 1, CAST(0x89350B00 AS Date), CAST(0xE1350B00 AS Date))
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (2, 1, N'Recontextualize B2C metrics', 1, CAST(0xB1350B00 AS Date), CAST(0x20350B00 AS Date))
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (3, 1, N'Syndicate cutting-edge interfaces', 1, CAST(0x7E350B00 AS Date), CAST(0xC6350B00 AS Date))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Topics] OFF
/****** Object:  Table [dbo].[Submissions]    Script Date: 02/23/2012 21:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
	[UploadDate] [date] NOT NULL,
	[Extension] [nvarchar](50) NOT NULL,
	[FilePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [Extension], [FilePath]) VALUES (1, 256, 1, 6, CAST(0x5B350B00 AS Date), N'rar', N'Uploads\1_COURSE\6_TOPIC\256_VICL')
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [Extension], [FilePath]) VALUES (2, 370, 25, 363, CAST(0x5B350B00 AS Date), N'rar', N'Uploads\25_COURSE\363_TOPIC\370_VIMO')
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [Extension], [FilePath]) VALUES (3, 370, 25, 12, CAST(0x5B350B00 AS Date), N'rar', N'Uploads\25_COURSE\12_TOPIC\370_VIMO')
SET IDENTITY_INSERT [dbo].[Submissions] OFF
/****** Object:  ForeignKey [FK_StudentsCourses_Courses]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[StudentsCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsCourses_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
ALTER TABLE [dbo].[StudentsCourses] CHECK CONSTRAINT [FK_StudentsCourses_Courses]
GO
/****** Object:  ForeignKey [FK_StudentsCourses_Students]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[StudentsCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsCourses_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[StudentsCourses] CHECK CONSTRAINT [FK_StudentsCourses_Students]
GO
/****** Object:  ForeignKey [FK_Submissions_Courses]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Courses]
GO
/****** Object:  ForeignKey [FK_Submissions_Students]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Students]
GO
/****** Object:  ForeignKey [FK_Submissions_Topics]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Topics] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([ID])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Topics]
GO
/****** Object:  ForeignKey [FK_Topics_Courses]    Script Date: 02/23/2012 21:02:45 ******/
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Courses]
GO
